@page "/signup"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using System.ComponentModel.DataAnnotations;
@using System.Collections.Generic;
@using MovieStoreApp.ModelsDTO;
@using MovieStoreApp.Models;
@using MovieStoreApp.Repositories;
@inject MoviesAppDbContext context

<br />
<h2 class="fw-bold  mt-2">Sign Up</h2>
<br />
<EditForm Model="@newCustomer" OnValidSubmit="@SubmitForm">
    <DataAnnotationsValidator />
    <table class="col-md-5">
        <tr>
            <td>Email Address</td>
            <td>
                <input class="form-control" @bind="newCustomer.Email" />
                <ValidationMessage For="@(() => newCustomer.Email)" />
            </td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>
                <input class="form-control" @bind="newCustomer.FirstName" />
                <ValidationMessage For="@(() => newCustomer.FirstName)" />
            </td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>
                <input class="form-control" @bind="newCustomer.LastName" />
                <ValidationMessage For="@(() => newCustomer.LastName)" />
            </td>
        </tr>
        <tr>
            <td><label>Street Address</label></td>
            <td>
                <input class="form-control" @bind="newCustomer.StreetAddress" />
                <ValidationMessage For="@(() => newCustomer.StreetAddress)" />
            </td>
        </tr>
        <tr>
            <td><label>City</label></td>
            <td>
                <input class="form-control" @bind="newCustomer.City" />
                <ValidationMessage For="@(() => newCustomer.City)" />
            </td>
        </tr>
        <tr>
            <td><label>State</label></td>
            <td>
                <select class="form-control" @bind="newCustomer.State">
                    <option value="">Select State</option>
                    @foreach (var state in GetStates())
                    {
                        <option value="@state">@state</option>
                    }

                </select>
            </td>
        </tr>
        <tr>
            <td><label>Telephone</label></td>
            <td>
                <input class="form-control" @bind="@newCustomer.Telephone" />
                <ValidationMessage For="@(() => newCustomer.Telephone)" />
            </td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td>
                <input class="form-control" type="password" @bind="@newCustomer.Password" />
                <ValidationMessage For="@(() => newCustomer.Password)" />
            </td>
        </tr>
        <tr>
            <td><label>Confirm Password</label></td>
            <td>
                <input class="form-control" type="password" @bind="@newCustomer.ConfirmPassword" />
                <ValidationMessage For="@(() => newCustomer.ConfirmPassword)" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td><p class="text-muted small mt-2">By clicking Sign Up, you agree to our Terms, Privacy Policy and Cookies Policy.</p></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-primary">Sign Up</button></td>
        </tr>
    </table>
</EditForm>
<p>@Msg</p>

@code {
    NewCustomerDTO newCustomer = new NewCustomerDTO();    
    string Msg;

    private List<string> GetStates()
    {
        
        return new List<string>
        {
            "AL", "AK", "AZ", "AR", "CA", "CO",
            "CT", "DE", "FL", "GA", "HI", "ID",
            "IL", "IN", "IA", "KS", "KY", "LA",
            "ME", "MD", "MA", "MI", "MN",
            "MS", "MO", "MT", "NE", "NV", "NH",
            "NJ", "NM", "NY", "NC", "ND",
            "OH", "OK", "OR", "PA", "RI",
            "SC", "SD", "TN", "TX", "UT", "VT",
            "VA", "WA", "WV", "WI", "WY"
        };
    }


    void SubmitForm()
    {
        MovieStoreAppRepositoryEF rep = new MovieStoreAppRepositoryEF(context);
        bool res = rep.AddNewCustomerAndUser(newCustomer);
        if (res == true)
        {
            Msg = "User registered successfully";
            newCustomer = new NewCustomerDTO();
        }
        
    }

}
